@import "common";
.Footer {
  margin-top: 8rem;
  background-color: $dark-secondary;
  color: $tertiary-clr;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  .rightFooter {
    display: flex;
    justify-content: space-between;
    width: 18rem;
    img {
      width: 1.2rem;
      filter: invert(100%);
      cursor: pointer;
    }
  }
}
