@import "common";
.Projects {
  font-family: "Noto Sans", sans-serif;

  h2 {
    color: $primary-clr;
    text-align: center;
    margin: 8rem 0 2rem 0;
    font-size: 2.2rem;
  }
  blockquote {
    text-align: center;
    color: $tertiary-clr;
    margin: 2rem 0 3rem 0;
    font-style: italic;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 2rem 1rem;
    @include breakpoint($phone) {
      margin: 2rem 2rem;
    }
    @include breakpoint($tablet) {
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoint($desktop) {
      grid-template-columns: repeat(3, 1fr);
      margin: 2rem 12rem;
    }
  }
}

.project-card {
  background-color: $dark-secondary;
  padding: 1rem;
  border-radius: 3px;
  .title {
    color: $white;
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
  .description {
    color: $tertiary-clr;
  }
  .techItems {
    display: flex;
    color: $tertiary-clr;
    justify-content: space-between;
    margin-top: 1rem;
    width: 13rem;
    .tech {
      border: 1px solid rgba(241, 182, 49, 0.5);
      background-color: rgba(206, 216, 222, 0.1);
      padding: 0.2rem;
    }
  }
  .buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 10rem;
    .btn {
      outline: none;
      border: none;
      padding: 0.5rem;
      border-radius: 4px;
      cursor: pointer;
    }
    .demo {
      background-color: $primary-clr;
    }
    .source {
      background-color: $white;
    }
  }
}
