@import "common";
@import "Navbar";
@import "Intro";
@import "Terminal";
@import "Project";
@import "Contact";
@import "Footer";
.App {
  background-color: $secondary-clr;
  overflow-x: hidden;
  font-family: "Fira Code", monospace;
}
